@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('font.css');

@-webkit-keyframes Bounce {
    0% {
        transform: translateY(40%);
    }

    40% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes op {
    0% {
        opacity: .05;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: .05;
    }
}

@-webkit-keyframes Boom {
    0% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes img-slide {
    100% {
        transform: translateY(-50%);
    }
}

@-webkit-keyframes Bouncemt {
    0% {
        transform: translate(-50%, 0%);
    }

    40% {
        transform: translate(-50%, -55%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@-webkit-keyframes turn {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes turn-reverse {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes active-all-menu-bar1 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(20px) rotate(0);
    }

    100% {
        transform: translateY(20px) rotate(45deg);
    }
}

@-webkit-keyframes all-menu-bar1 {
    0% {
        -webkit-transform: translateY(20px) rotate(45deg);
    }

    50% {
        -webkit-transform: translateY(20px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}

@keyframes all-bt {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes active-all-menu-bar2 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-20px) rotate(0);
    }

    100% {
        transform: translateY(-20px) rotate(-45deg);
    }
}

@-webkit-keyframes all-menu-bar2 {
    0% {
        -webkit-transform: translateY(-20px) rotate(-45deg);
    }

    50% {
        -webkit-transform: translateY(-20px) rotate(0);
    }

    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}

/* #7d50f9 */
/* #ff2e93 */
/* #142664 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
    line-height: 10px;
    overflow: hidden;
}

body {
    font-family: 'Goldman', 'Cairo', 'GmarketSansMedium', 'Noto Sans KR', sans-serif;
    background-color: #f0be25;
    letter-spacing: -.5px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 모달창 */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.modal-wrap {
    position: fixed;
    padding: 35px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 500px;
    height: 300px;
    z-index: 999;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
}

.modal-close {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 70px;
    height: 30px;
    font-size: 1.7rem;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #303033;
    color: #000;
    cursor: pointer;
    transition: .3s;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s .5s;
}



.modal-comment {
    position: absolute;
    display: block;

    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: #5179e0;
    transition: .5s .3s;
}

.comment-on .modal-comment {
    height: 100%;
    transition: .5s;
}

.comment-bt {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 4rem;
    bottom: 0;
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 1.7rem;
}

.comment-box {
    position: relative;
    display: block;

    padding-top: 10px;
}

.comment-box p {
    position: relative;
    display: block;
    font-size: 1.5rem;
    margin-top: 40px;
    opacity: 0;
    color: #fff;
    transition: opacity .3s;
}

.comment-on .comment-box p {
    margin-top: 0;
    opacity: 1;
    transition: opacity .3s .5s;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
.mb {
    margin: 0 auto;
    width: 50% !important;
    border-radius: 20px;
}
.mb .port-txt-box {
    position: absolute !important;
}
.mb .port-box-tit {
    padding-top: 20% !important;
    font-size: 2.3rem;
}
.mb .work-type {
    margin-bottom: 30% !important;
}
.mb .tag {
    font-size: 1rem !important;
}
.mb .port-link {
    flex-direction: column;
    margin-top: 20% !important;
}
.mb .port-link-bt {
    margin: 5% !important;
    font-size: 1.5rem;
}
.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5% 5% 0 5%;
}

.title {
    position: relative;
    display: block;
    font-size: 4.5rem;
    margin: 20px 0;
    font-weight: 800;
}

.wrap {
    position: relative;
    margin: 40px auto;
    display: block;
    width: calc(100vw - 15%);
    height: calc(100vh - 100px);
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    overflow: hidden;
}

.bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    transition: 1s;
}

.field {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transition: 1s;
}


.sticker {
    position: absolute;
    display: block;
    transition: 1.5s;
    opacity: 1;
}

.sticker img {
    width: 100%;
    transition: 1s;
}

.gear1 img {
    transform: rotate(180deg);
}

.gear2 img {
    transform: rotate(-180deg);
}

.gear3 img {
    transform: rotate(180deg);
}

.gear1 {
    right: 60%;
    top: -35%;
    width: 20vw;
    height: 20vw;
}

.gear2 {
    right: -30%;
    top: 0;
    width: 40vw;
    height: 40vw;
}

.gear3 {
    left: -40%;
    top: 50%;
    width: 90vw;
    height: 90vw;
}

.icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    background-color: #7d50f9;
    box-shadow: 3px 3px 0px 0px #7d50f9;
    border-radius: 5px;
}

.fs-20 {
    font-size: 2.0rem;
}

.blue {
    color: blue !important;
}

.red {
    color: red !important;
}

.ani-none {
    animation: none !important;
}

.hei-auto {
    height: auto !important;
}

/* 고정메뉴 */
.contact-nav {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
}

.nav-off {
    transition: .3s ease;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
}

.contact-wrap {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    background-color: #7d50f9;
    border-radius: 45px;
    width: 90px;
    height: 90px;
    overflow: hidden;
    transition: height .3s ease;
}

.nav-off.contact-on .contact-wrap {
    transition: none;
    height: 90px;
}

.contact-on .contact-wrap {
    height: 370px;
}

.contact-bt {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Goldman', 'Cairo';
    line-height: 9rem;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    flex: none;
    transform: rotateY(180deg);
    transition: .3s;
}

.contact-on .contact-bt {
    transform: rotateY(0);
}

.nav-off.contact-on .contact-bt {
    transform: rotateY(180deg);
}

.contact-bt span {
    transition: .3s;
    font-size: 16px;
    opacity: 0;
    cursor: none;
}

.contact-on .contact-bt span {
    transition: .3s;
    opacity: 1;
}

.nav-off.contact-on .contact-bt span {
    opacity: 0;
}

.contact-bt img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    transition: .3s;
}

.contact-on .contact-bt img {
    opacity: 0;
}

.contact-link {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 45px;
    align-items: center;
    opacity: 0;
}

.contact-on .contact-link {
    opacity: 1;
}

.link-box {
    position: relative;
    display: block;
    text-align: center;
    width: 90px;
    opacity: 0;
}
.contact .link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-box:hover img {
    transform: translateY(-10px);
}

.link-box:hover .link-txt {
    opacity: 1;
}

.link-box img {
    position: relative;
    width: 45px;
    transition: .3s;
}

.contact-on .link-box {
    transition: .3s .3s;
    animation: Bounce .3s .3s;
    opacity: 1;
}

.wrap-active .contact .link-box {
    transition: .3s .6s;
    animation: Bounce .3s .6s;
    opacity: 1;
}

.contact-on .link-box:nth-child(2) {
    animation-delay: .35s !important;
    transition-delay: .35s !important;
}

.wrap-active .contact .link-box:nth-child(2) {
    animation-delay: .65s !important;
    transition-delay: .65s !important;
}

.contact-on .link-box:nth-child(3) {
    animation-delay: .4s !important;
    transition-delay: .4s !important;
}

.wrap-active .contact .link-box:nth-child(3) {
    animation-delay: .7s !important;
    transition-delay: .7s !important;
}

.contact-on .link-box:nth-child(4) {
    animation-delay: .45s !important;
    transition-delay: .45s !important;
}

.wrap-active .contact .link-box:nth-child(4) {
    animation-delay: .75s !important;
    transition-delay: .75s !important;
}

.link-txt {
    display: block;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2rem;
    opacity: 0;
    transition: .3s;
}

/* .gotop {
    position: fixed;
    display: none;
    width: 50px;
    height: 50px;
    right: 40px;
    bottom: 40px;
    z-index: 999;
    background:url('../images/gotop.png') no-repeat;
    background-size: contain;
}
.gotop.white {
    background:url('../images/gotop_white.png')no-repeat;
    background-size: contain;
}
.gotop img{
    width: 100%;
} */



/* 헤더 */
.header {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 9999;
}


.logo {
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    width: 140px;
    height: 62px;
    background: url('../images/mylogo.png')no-repeat center;
    background-size: contain;

}

.all-menu-bt {
    position: absolute;
    display: none;
    margin-top: 3%;
    transform: scale(0.7);
    right: 20px;
    width: 50px;
    height: 44px;
    cursor: pointer;
}

.all-menu-bt-active {}

.all-menu-bt span {
    display: inline-block;
    transition: all .4s;
}



.all-menu-bt span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #303033;
    border-radius: 4px;
}

.all-menu-bt-active span {
    background-color: #fff;
}

.all-menu-bt span:nth-of-type(1) {
    top: 0;
    -webkit-animation: all-menu-bar1 .75s forwards;
    animation: all-menu-bar1 .75s forwards;
}

.all-menu-bt span:nth-of-type(2) {
    top: 20px;
}

.all-menu-bt span:nth-of-type(3) {
    bottom: 0;
    -webkit-animation: all-menu-bar2 .75s forwards;
    animation: all-menu-bar2 .75s forwards;
}

.all-menu-bt-active span:nth-of-type(1) {
    -webkit-animation: active-all-menu-bar1 .75s forwards;
    animation: active-all-menu-bar1 .75s forwards;
}

.all-menu-bt-active span:nth-of-type(2) {
    opacity: 0;
}

.all-menu-bt-active span:nth-of-type(3) {
    -webkit-animation: active-all-menu-bar2 .75s forwards;
    animation: active-all-menu-bar2 .75s forwards;
}


/* 햄버거 */
.all-menu {
    position: fixed;
    display: block;
    top: 0;
    right: -200px;
    width: 180px;
    height: 100vh;
    background-color: #7d50f9;
    z-index: 999;
    transition: .3s;
    box-shadow: 0px 0px 15px 0px;
}

.all-menu-active {
    right: 0;
}

.gnb {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 45% 0;
    margin: 0 15%;
    overflow: hidden;
}

.gnb .swiper-pagination-bullet::before {
    content: '';
    position: relative;
    top: 50%;
    left: -10px;
    display: block;
    width: 5px;
    height: 5px;
    opacity: 0;
    border-radius: 50%;
    background-color: #fff;
}

.gnb .swiper-pagination-bullet-active::before {
    transition: .5s;
    opacity: 1;
    background-color: #fff;
}

.gnb .swiper-pagination-bullet {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
    border: 0;
    font-size: 2.2rem;
    font-family: 'Goldman';
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}

.gnb .swiper-pagination-bullet-active {
    padding-left: 10px;
}

.gnb .swiper-pagination-bullet::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -100%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.gnb .swiper-pagination-bullet:hover::after {
    left: 100%;
    transition: .5s ease;
}

/* 메인 */
.wrap-swiper {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
}

.wrap-slide {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.wrap-swiper>.swiper-wrapper {
    flex-flow: column;
}

.visual .container {

    display: flex;
    justify-content: center;

}

.visual-photo {
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #333;
    background-color: #7d50f9;
    overflow: hidden;
    flex: none;
    opacity: 0;
    transition: opacity .3s;
}

@media screen and (max-width:860px) {
    .visual-photo {
        width: 400px;
        height: 400px;
    }
}

.visual-photo img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    padding-top: 0px;
}

.wrap-active .visual-photo {
    transition: opacity 1s .5s;
    opacity: 1;
}

.visual-txt {
    position: relative;
    display: inline-block;
    font-family: 'GmarketSansMedium';
    color: #303033;
    font-size: 3.5rem;
    margin-left: -30px;
    margin-top: 200px;
    opacity: 0;
    right: -50px;
    transition: .3s;
    white-space: nowrap;
}

.wrap-active .visual-txt {
    transition: 1s .3s;
    right: 0;
    opacity: 1;
}

.visual-txt span {
    display: block;
    margin-bottom: 5%;
}

.visual-txt span:last-child {
    display: inline-block;
}

.visual-txt b {
    font-size: 4.0rem;
    color: #fff;
    padding: 10px 20px;
    line-height: 4rem;
    border-radius: 40px;
    background-color: #7d50f9;
}

.visual-txt p {
    font-weight: bold;
    display: inline-block;
    margin-left: 50px;
    font-size: 4.0rem;
    font-family: 'Goldman', 'Cairo';
}

.visual-txt strong {
    margin-left: 65px;
    font-size: 6.0rem;
    font-weight: bold;
    opacity: 0;
    color: #7d50f9;
    transition: opacity .3s;
}


.wrap-active .visual-txt strong {
    transition: .5s 1s;
    opacity: 1;
}

.scroll {
    position: absolute;
    display: block;
    left: 50%;
    width: 50px;
    color: #303033;
    font-size: 1.3rem;
    transform: translateX(-50%);
    bottom: 5%;
    opacity: 0;
    text-align: center;
    transition: .5s;
}

.scroll span {
    animation: op 2s infinite;
}

.swiper-slide-active .scroll {
    opacity: 0.8;
}

.arrow {
    position: absolute;
    display: block;
    left: 50%;
    width: 20px;
    height: 20px;
    top: -24px;
    background: url('../images/arrow-icon.png')no-repeat top;
    transform: translateX(-50%);
    background-size: contain;
    opacity: 0;
}

.wrap-active .arrow:nth-child(2) {
    animation-delay: .2s;
    top: -36px;
}

.wrap-active .arrow:nth-child(3) {
    top: -48px;
    animation-delay: 0s;
}

.wrap-active .arrow {
    animation: op 1s .4s cubic-bezier(0, 0, 1, 1) infinite;
}

.profile .container {
    display: flex;
}

.profile-left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
}

.tit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    top: 10%;
    font-size: 5.0rem;
    opacity: 0;
}

.wrap-active .tit {
    opacity: 1;
    transition: opacity .5s .5s;
    animation: Bounceemt .5s .5s;
}

.tit span {
    position: relative;
}

.tit span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #7d50f9;
    z-index: -1;
}

.profile-tit {}

.profile-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.8rem;
    color: #505055;
    opacity: 0;
    word-break: keep-all;
}

.wrap-active .profile-txt {
    opacity: 1;
    transition: opacity .5s 1s;
}

.profile-txt span {
    position: relative;
    display: block;
    line-height: 2rem;
    margin-bottom: 5%;
}

.profile-txt span::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 6px;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #303033;
}

.point {
    color: #7d50f9;
}

.profile-right {
    position: relative;
    display: block;
    width: 50%;
    opacity: 0;
}

.profile-photo {
    position: relative;
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px #000;
    opacity: 0;
    border-radius: 50%;
    transition: .5s;
}

.wrap-active .profile-photo {
    opacity: 1;
}


.wrap-active .profile-right {
    opacity: 1;
    transition: opacity .5s .5s;
}

.portfolio {
    opacity: 0;
    transition: .5s;
}
.portfolio .swiper-wrapper {
    align-items: center;
}
.wrap-active .portfolio {
    opacity: 1;
}

.portfolio .container {
    top: 0;
    transform: translateY(0);
    height: 100%;
    padding-top: 5%;
}

.portfolio-tit {
    position: relative;
    display: none;
    font-size: 4.0rem;
    text-align: center;
    opacity: 0;
}

.wrap-active .portfolio-tit {
    animation: Bounce .5s;
    transition: .5s;
    opacity: 1;
}

.portfolio-tit span {
    position: relative;
    display: inline-block;
}

.portfolio-tit span::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #FF651E;
    opacity: .3;
    z-index: -1;
}

.port-change {
    position: relative;
    display: block;
    margin-top: 5%;
    opacity: 0;
    text-align: center;
    transition: .5s;
}

.wrap-active .port-change {
    opacity: 1;
}

.port-change button {
    position: relative;
    display: inline-block;
    margin: 0 78px;
    margin-bottom: 5%;
    border: 0;
    padding-left: 15px;
    font-size: 3.0rem;
    color: #999;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Goldman', 'Cairo';
    font-weight: bold;
    line-height: 3rem;
    z-index: 99;
}

.port-change button::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #999;
}

.clone-bt {
    margin-bottom: 20px;
}

.clone-on .clone-bt,
.project-on .project-bt {
    color: #000;
}

.clone-on .clone-bt::before,
.project-on .project-bt::before {
    background-color: red;
}

.portfolio-swiper {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23vw;
    height: 28vw;
    margin: 0 auto;
    opacity: 0;
    z-index: -1;
    transition: .5s;
}

.project-swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 35vw;
    height: 28vw;
    margin: 0 auto;
    margin-bottom: 5vw;
    opacity: 0;
    z-index: -1;
    transition: .5s;
}

.clone-on .portfolio-swiper {
    opacity: 1;
    z-index: 1;
}

.project-on .project-swiper {
    z-index: 1;
    opacity: 1;
}

.portfolio .swiper-wrapper {
    padding-top: 10vh;
}

.portfolio-box {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: 3px solid #000;
    border-radius: 20px;
    transform: scale(.7);
    z-index: -1;
}
.project-swiper .swiper-slide {
    height: auto;
}
.project-swiper .portfolio-box {
    height: auto;
}
.swiper-slide-active>.portfolio-box {
    z-index: 1;
    transform: scale(1);
    transition: .5s;
    opacity: 1;
    box-shadow: 0px 0px 15px 0px #7d50f9;
}

/* .swiper-slide-active>.portfolio-box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
} */

.swiper-slide-active>.portfolio-box:hover::after {
    transition: .3s;
    opacity: .6;
}


.port-control {
    position: relative;
    display: block;
    z-index: 999;
}

.sw-portfolio-next {
    position: absolute;
    right: calc(50% - 20vw);
    display: block;
    width: 50px;
    height: 50px;
    z-index: 999;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    background: url('../images/arr.png')no-repeat center center;
    background-size: cover;
}

.port-pg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    bottom: auto;
    padding-left: 22px;
    width: auto;
    text-align: center;
    line-height: 4rem;
    font-size: 2.0rem;
    color: #333;
    white-space: nowrap;
}

.port-pg .swiper-pagination-current {
    position: absolute;
    right: 80%;
    color: #7d50f9;
}

.port-pg .swiper-pagination-total {
    margin-left: 5px;
}

.sw-portfolio-prev {
    position: absolute;
    z-index: 999;
    left: calc(50% - 20vw);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #7d50f9;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    transform: rotate(180deg);
    background: url('../images/arr.png')no-repeat center center;
    background-size: contain;
}

.port-link {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    white-space: nowrap;
}

.port-link-bt {
    position: relative;
    display: block;
    font-size: 1.8rem;
    margin: 5% 10%;
    padding: 3px 0px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}


.port-link-bt:hover {
    transform: scale(1.1);
}

.port-box-img {
    position: absolute;
    top: 1px;
    display: block;
    width: 100%;
    background-color: #000;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.project-swiper .port-box-img {
    position: relative;
}


.port-box-img img {
    position: relative;
    display: block;
    width: 100%;
    background-size: contain;
}

.portfolio-swiper .swiper-slide-active>.portfolio-box img {
    animation: img-slide 10s .5s cubic-bezier(0, 0, 1, 1) infinite;
}

.port-txt-box {
    position: absolute;
    top: 0;
    display: block;
    padding: 5%;
    padding-top: 20%;
    width: 100%;
    text-align: center;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.project-swiper .port-txt-box {
    padding-top: 5%;
}

.project-swiper .port-box-tit {
    height: auto;
    margin-bottom: 0;
}

.project-swiper .port-link {
    margin-top: 2%;
}
.project-swiper .port-link-bt {
    margin: 2% 20%;
}

.wrap-active .swiper-slide-active>.portfolio-box .port-txt-box {
    transition: .3s .3s;
    opacity: 1;
}

.port-box-tit {
    position: relative;
    display: block;
    text-align: center;
    height: 25%;
    font-size: 3rem;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5%;
}


.work-time {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    margin-bottom: 4%;
}

.project-swiper .work-time {
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.work-type {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 4%;
}

.project-swiper .work-type {
    margin-bottom: 5%;
    font-size: 1.4rem;
}

.port-tool-box {
    position: relative;
    display: flex;
    justify-content: space-around;
}


.tag {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}
.project-swiper .tag {
    font-size: 1.2rem;
}
.skill .container {
    padding-top: 10%;
}

.skill-wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    opacity: 0;
    transition: .3s;
}

.wrap-active .skill-wrap {
    opacity: 1;
}

.skill-box {
    display: flex;
    margin: 15%;
    justify-content: center;
}

.skill-prg {
    display: flex;
    flex: none;
    justify-content: center;
    width: 170px;
    height: 170px;

}

.skill-box-tit {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    color: #000;
    white-space: nowrap;
    cursor: default;
}

.skill-circle {
    position: absolute;
    display: block;
    height: 170px;
    width: 170px;
}

.skill-box svg {
    transition: .3s;
    box-shadow: 0px 0px 10px 0px;
}

.skill-box:hover svg {
    transform: scale(1.1);
    z-index: 1;
}

.skill-txtbox {
    position: absolute;
    display: block;
    padding: 10px 15px;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: opacity .3s;
}

.skill-box:nth-child(4n) .skill-txtbox {
    transform: translateX(-80%);
}

.skill-box:hover .skill-txtbox {
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.skill-txt {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    padding-left: 10px;
    line-height: 2rem;
    font-size: 1.4rem;
}

.skill-txt::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(255, 214, 255);
}


.wrap-active .mbti-tit span {
    opacity: 1;
    transition: opacity .5s .5s;
    animation: Bounce .5s .5s;
}

.mbti-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.wrap-active .mbti-tit {
    opacity: 1;
    transition: opacity .5s .5s;
}

.mbti-stat {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
}

.mbti-box {
    margin: 20px;
    width: 90%;
    height: 8px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.mbti-box:last-child {
    margin-top: 70px;
    width: 250px;
}

.mbti-box:last-child::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -50px;
    display: block;
    width: 20px;
    height: 1px;
    opacity: 0;
    background-color: #303030;
    transform: rotate(0);
}

.mbti-box:last-child::after {
    content: '';
    position: absolute;
    display: block;
    top: -60px;
    left: calc(50% + 10px);
    width: 1px;
    height: 20px;
    opacity: 0;
    background-color: #303030;
    transform: rotate(0);
}

.wrap-active .mbti-box:last-child::before {
    opacity: 1;
    transition: .5s .5s;
    transform: rotate(360deg);
}

.wrap-active .mbti-box:last-child::after {
    opacity: 1;
    transition: .5s .5s;
    transform: rotate(360deg);
}

.mbti-box>div {
    opacity: 0;
}

.wrap-active #e {
    animation: Bounce .5s;
    transition: opacity .5s;
    opacity: 1;
}

.wrap-active #s {
    animation: Bounce .5s .1s;
    transition: opacity .5s .1s;
    opacity: 1;
}

.wrap-active #f {
    animation: Bounce .5s .2s;
    transition: opacity .5s .2s;
    opacity: 1;
}

.wrap-active #p {
    animation: Bounce .5s .3s;
    transition: opacity .5s .3s;
    opacity: 1;
}

.wrap-active #t {
    animation: Bounce .5s .4s;
    transition: opacity .5s .4s;
    opacity: 1;
}

.mbti-box span:nth-child(1) {
    position: absolute;
    display: block;
    left: 0;
    font-size: 2.6rem;

}

.mbti-box span:last-child {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: 2.6rem;
}

.mbti-not {
    color: #ddd;
    opacity: 0;
}

.wrap-active .mbti-box:nth-child(1) .mbti-not {
    opacity: 1;
    transition: .5s .5s;
}

.wrap-active .mbti-box:nth-child(2) .mbti-not {
    opacity: 1;
    transition: .5s .8s;
}

.wrap-active .mbti-box:nth-child(3) .mbti-not {
    opacity: 1;
    transition: .5s 1.1s;
}

.wrap-active .mbti-box:nth-child(4) .mbti-not {
    opacity: 1;
    transition: .5s 1.4s;
}

.wrap-active .mbti-box:nth-child(5) .mbti-not {
    opacity: 1;
    transition: .5s 1.7s;
    font-size: 1.5rem;
}

#e-txt {
    opacity: 0;
    color: #FF651E;
}

.wrap-active #e-txt {
    opacity: 1;
    transition: .5s 1s;
    animation: Bounce 1s 1s;
}

#s-txt {
    opacity: 0;
    color: #f0be25;
}

.wrap-active #s-txt {
    opacity: 1;
    transition: .5s 1.3s;
    animation: Bounce 1s 1.3s;
}

#f-txt {
    opacity: 0;
    color: #00c180;
}

.wrap-active #f-txt {
    opacity: 1;
    transition: .5s 1.6s;
    animation: Bounce 1s 1.6s;
}

#p-txt {
    opacity: 0;
    color: #7d50f9;
}

.wrap-active #p-txt {
    opacity: 1;
    transition: .5s 1.9s;
    animation: Bounce 1s 1.9s;
}

#t-txt {
    opacity: 0;
    font-size: 1.5rem;
    color: #303033;
}

.wrap-active #t-txt {
    opacity: 1;
    transition: .5s 2.2s;
    animation: Bounce 1s 2.2s;
}

.mbti-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding-left: 5%;
    opacity: 0;
}

.wrap-active .mbti-txt {
    transition: .5s 1s;
    opacity: 1;
}

.keyword {
    position: relative;
    display: block;
    padding: 5%;
    font-size: 1.6rem;
    line-height: 2rem;
    word-break: keep-all;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #000;
    box-shadow: 0px 0px 10px 0px rgb(68, 68, 255);
    transition: .3s;
}
.keyword:hover {
    transform: scale(1.1);
}
.keyword+.keyword {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 0px rgb(253, 95, 95);
}

.keyword b {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    white-space: nowrap;
    font-size: 2.5rem;
}

.keyword+.keyword {}

.esfp {
    position: relative;
    opacity: 0;
    padding-bottom: 30px;
    font-size: 1.5rem;
    color: #777;
}

.wrap-active .esfp {
    transition: .3s 1s;
    opacity: 1;
}

.esfp b {
    font-size: 2.5rem;
    padding-right: 10px;
    color: #333;
}



.copy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: none;
    font-size: 1.4rem;
    color: #fff;
}

.copy.pc {
    display: block;
}

.life {
    opacity: 0;
    transition: .3s;
}

.life .container {
    width: 100%;
    padding: 5% 0;
}

.wrap-active .life {
    opacity: 1;
}

.life-bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.life-bg-box {
    position: relative;
    top: -100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: #333;
    background-color: #000;
    transition: .1s .3s;
}

.life-bg-box span {
    position: relative;
    display: block;
    font-size: 2.0remx;
}

.wrap-active .life-bg-box {
    top: 0;
    opacity: 1;
    transition: .3s;
}

.wrap-active .life-bg-box:nth-child(2) {
    transition-delay: .15s;
}

.wrap-active .life-bg-box:nth-child(3) {
    transition-delay: .3s;
}

.wrap-active .life-bg-box:nth-child(4) {
    transition-delay: .45s;
}

.life-swiper {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.life-box {
    display: flex;
    align-items: center;
}

.life-box-tit {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    color: #fff;
    font-size: 5.0rem;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 2;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
}

.swiper-slide-active>.life-box .life-box-tit {
    transition: .5s;
    transform: translate(-50%, -50%) scale(1);
    opacity: .5;
}

.life-img {
    position: relative;
    width: 45%;
    flex: none;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    background-color: #000;
    box-shadow: 0px 0px 15px -4px #333;
}

.life-img::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.life-img img {
    width: 100%;
}

.life-txt {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2.5rem;
    color: #fff;
    padding: 5%;
    font-size: 1.7rem;
    word-break: keep-all;
    opacity: 0;
    transition: .5s;
}

.life-txt::before {
    content: '';
    position: absolute;
    left: -50%;
    top: 0;
    display: block;
    width: 150%;
    height: 100%;
    background-color: #7d50f9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.swiper-slide-active>.life-box .life-txt {
    opacity: 1;
}

.small {
    display: block;
    font-size: 1.3rem;
    color: #ccc;
}

.sw-life-next {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    font-size: 3.0rem;
    color: #7d50f9;
    padding-right: 30px;
    z-index: 99;
    transition: .3s;
}

.sw-life-next:hover {
    transform: scale(1.1);
}

.sw-life-next::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: url('../images/life_arr2.png')no-repeat center;
    background-size: contain;
    transition: .3s;
}

.sw-life-next:hover::after {
    right: -10px;
}

.contact {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 9999;
    opacity: 0;
}

.contact .container {
    padding: 5% 0 0 0;
}

.contact::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    display: block;
    background-image: radial-gradient(circle farthest-corner at center center, #7d50f9 0%, #7d50f9 50%, transparent 50.1%);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 0%;
    z-index: -1;
}

.wrap-active .contact {
    opacity: 1;
}

.wrap-active .contact::after {
    transition: background-size .7s .3s;
    background-size: 200% 200%;
}

.wrap-active .contact-tit {
    transition-delay: .7s;
    color: #fff;
}
.contact-tit {
    top: 10%;
}
.contact-tit span::after {
    background-color: #fff;
}

.contact .contact-link {
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contact .link-box {
    width: 100%;
    height: calc((85vw / 4));
}

.contact .link-box img {
    width: 45%;
}

.contact .link-txt {
    font-size: 2.0rem;
}

.comment {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    white-space: nowrap;
}

.comment-img {
    position: relative;
    display: inline-block;
    width: 30px;
    opacity: .5;
    vertical-align: top;
}

.comment-txt {
    position: relative;
    display: inline-block;
    color: #fff;
    padding-left: 1%;
    font-size: 1.4rem;
    line-height: 30px;
    opacity: .5;
}

@media screen and (min-width: 1360px) {
    html {
        font-size: 11px;
    }
    .skill-box-tit {
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 9px;
    }
    .bg {
        transition: none;
        transform: scale(.8);
    }
    .mb {
        width: 60% !important;
    }
    .gear1 {
        top: 200%;
        left: 60%;
    }

    .gear2 {
        bottom: -400px;
    }

    .gear3 {
        right: 50%;
        top: 50%;
    }

    .gear1 img {
        transform: rotate(180deg);
    }

    .gear2 img {
        transform: rotate(-180deg);
    }

    .gear3 img {
        transform: rotate(180deg);
    }

    .wrap {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
    .wrap::before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        display: block;

    }
    .logo {
        position: absolute;
        left: 3%;
        width: 110px;
        height: 50px;
    }


    .all-menu-bt {
        display: block;
        margin-top: 15px;
    }
    .portfolio .swiper {
        top: auto;
        transform: translateX(-50%);
    }

    .portfolio-swiper {
        width: 30vw;
    }

    .project-swiper {
        width: 40vw;
    }

    .portfolio-swiper .portfolio-box {
        height: 35vw;
    }

    .portfolio .swiper-wrapper {
        align-items: center;
        padding-top: 12vh;
    }

    .skill-prg {
        width: 160px;
        height: 160px;
    }

    .skill-circle {
        width: 160px;
        height: 160px;
    }

    .tit,
    .skill-tit,
    .mbti-tit span {
        transition-delay: 0s !important;
        animation-delay: 0s !important;
    }

    .profile-txt {
        transition-delay: .3s !important;
    }

    .profile-photo,
    .portfolio-swiper,
    .mbti-tit {
        transition-delay: 0s !important;
    }

    .page-box {
        display: none;
    }

    .mbti .tit {
        top: 0;
    }
    #e-txt {
        transition-delay: .5s !important;
        animation-delay: .5s !important;
    }

    #s-txt {
        transition-delay: .7s !important;
        animation-delay: .7s !important;
    }

    #f-txt {
        transition-delay: .9s !important;
        animation-delay: .9s !important;
    }

    #p-txt {
        transition-delay: 1.1s !important;
        animation-delay: 1.1s !important;
    }

    #e {
        transition-delay: .5s !important;
        animation-delay: .5s !important;
    }

    #s {
        transition-delay: .8s !important;
        animation-delay: .8s !important;
    }

    #f {
        transition-delay: 1.1s !important;
        animation-delay: 1.1s !important;
    }

    #p {
        transition-delay: 1.4s !important;
        animation-delay: 1.4s !important;
    }

    .sw-portfolio-next {
        top: 40%;
    }

    .sw-portfolio-prev {
        top: 40%;
    }

    .comment-txt {
        margin-top: 0;
    }

    .copy {
        left: 10px;
        bottom: 5px;
        transform: rotate(-90deg);
        transform-origin: left;
    }

    .contact::after {
        top: 87%;
        left: 87%;
    }
    .contact .link-box {
        height: 25vw;
    }
    .life-swiper {
        width: 80%;
    }
    .life-img {
        width: 50%;
    }
    .contact-tit {
        top: 15%;
    }
}

@media screen and (max-width: 768px) {
    
    .modal-wrap {
        width: 400px;
    }

    .visual .container {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .wrap-slide {
        height: 120%;
    }

    .wrap-1,
    .wrap-7 {
        height: 100% !important;
    }

    .visual-photo {
        width: 500px;
        height: 500px;
    }

    .visual-txt {
        margin-top: -250px;
    }

    .visual-txt strong,
    .visual-txt span {
        color: #fff;
    }

    .profile .container {
        padding: 0 50px;
    }

    .profile-left {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .profile-txt span {
        text-align: left;
        color: #303033;
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 20px;
    }

    .profile-right {
        display: none;
    }

    .port-change {
        margin-bottom: 5%;
    }

    .portfolio-swiper {
        width: 40vw;
    }
    .port-link {
        margin-top: 10%;
    }
    .port-link-bt {
        font-size: 2.2rem;
    }

    .portfolio-swiper .portfolio-box {
        height: 50vw;
    }

    .project-swiper {
        width: 55vw;
    }
    .pc {
        display: none;
    }

    .tit-mb {
        display: block;
        text-align: center;
        margin-bottom: 15%;
    }

    .skill-wrap {
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 33%);
        place-items: center;
    }

    .skill-box {
        margin: 5%;
    }
    .skill-box-tit {
        font-size: 2.2rem;
    }
    .skill-prg {
        width: 135px;
        height: 135px;
    }

    .skill-circle {
        width: 135px;
        height: 135px;
    }

    .skill-box:nth-child(4) {
        grid-column: 1 /3;
        grid-row: 2 / 3;
    }

    .skill-box:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .skill-box:nth-child(2) .skill-txtbox,
    .skill-box:nth-child(7) .skill-txtbox {
        transform: translateX(-50%) !important;
    }
    .skill-box:nth-child(4) .skill-txtbox {
        transform: translateX(0) !important;
    }
    .skill-box:nth-child(3) .skill-txtbox,
    .skill-box:nth-child(5) .skill-txtbox {
        transform: translateX(-80%) !important;
    }

    .life .tit {
        margin-bottom: 12%;
    }
    .life-txt {
        font-size: 2.2rem;
        color: #ddd;
    }
    .life-swiper {
        text-align: center;
        width: 70%;
    }

    .sw-life-next:hover {
        padding: 0;
        padding-right: 30px;
    }

    .sw-life-next:hover::after {
        right: 0;
    }

    @media screen and (min-width: 570px) {

        .swiper-slide-active>.life-box .life-tit {
            top: 10%;
        }

        .sw-life-next:hover {
            padding: 0;
            padding-right: 30px;
        }

        .sw-life-next:hover::after {
            right: 0;
        }

        .life-box-tit {
            top: 20%;
        }

        .life-txt {
            position: absolute;
            display: flex;
            align-items: center;
            line-height: 4rem;
            padding: 0 20%;
            z-index: 1;
        }

        .life-txt::before {
            content: none;
        }


        .sw-life-next {
            right: 50%;
            bottom: 5%;
            transform: translateX(50%);
            color: #fff;
        }
    }

    .life-img {
        width: 100%;
    }
    .contact-link {
        margin:0 10%;
    }
    .contact .contact-link {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact .link-box {
        height: 30vw;
    }

}

@media screen and (max-width:570px) {
    .visual-photo {
        width: 450px;
        height: 450px;
    }

    .portfolio-swiper {
        width: 50vw;
    }

    .project-swiper {
        width: 65vw;
    }

    .portfolio-swiper .portfolio-box {
        height: 60vw;
    }

    .mbti-wrap {
        flex-direction: column;
    }

    .mbti-box {
        margin: 15px;
    }

    .mbti-stat {
        margin-bottom: 5%;
    }
    .keyword {
        margin-top: 10%;
    }
    .life-box {
        flex-direction: column;
    }

    .sw-life-next {
        position: relative;
        display: inline-block;
        color: #303033;
    }

    .life-txt {
        color: #000;
        padding: 10%;
        line-height: 3rem;
    }

    .life-txt::before {
        content: none;
    }

    .small {
        color: #777;
    }

    .life-img {
        width: 70%;
    }
    
}

@media screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
    /* .gotop {
        right: 20px;
    } */
    .swiper-slide {
        height: 130%;
    }
    .mb {
        width: 80% !important;
    }
    .gear1 {}

    .gear2 {
        bottom: -300px;
        left: -150px;
        width: 400px;
        height: 400px;
    }

    .gear3 {
        top: 1200px;
        right: -300px;
        width: 600px;
        height: 600px;
    }


    .logo {
        width: 120px;
        height: 55px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .all-menu-bt {
        right: 10px;
    }

    .visual .container {
        padding: 0 20px;
        top: 45%;
    }

    .visual-txt {
        width: 100%;
        margin-top: -220px;
        margin-left: 0;
    }

    .visual-txt span {
        color: #fff;
    }

    .visual-txt span:first-child {
        color: #fff;
    }

    .visual-txt strong {
        margin-left: 18%;
    }

    .visual-txt p {
        margin-left: 12%;
    }

    .visual-photo {
        width: 390px;
        height: 390px;
    }

    .profile-left {
        padding: 0;
    }


    .skill-prg {
        width: 100px;
        height: 100px;
    }

    .skill-circle {
        width: 100px;
        height: 100px;
    }

    .portfolio-swiper {
        width: 55vw;
    }

    .project-swiper {
        width: 70vw;
    }

    .portfolio-swiper .portfolio-box {
        height: 70vw;
    }

    .port-change {
        margin-bottom: 10%;
    }

    .port-control {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-swiper .port-txt-box {
        position: relative;
    }
    .work-type {
        font-size: 2rem !important;
    }
    .work-time {
        font-size: 2rem !important;
    }
    .port-link-bt {
        font-size: 2.2rem !important;
    }
    .mb .port-box-tit {
        font-size: 3rem !important;
    }
    .mb .tag {
        font-size: 1.5rem !important;
    }
    
    .life-swiper {
        width: 80%;
    }

    .all-menu {
        width: 150px;
    }

}

@media screen and (max-width: 390px) {
    .modal-wrap {
        width: 350px;
    }

    .logo {
        width: 100px;
    }

    .visual .container {
        padding: 0 10px;
    }

    .visual-photo {
        width: 340px;
        height: 340px;
    }

    .visual-txt {
        margin-top: -200px;
    }

    .visual-txt span {
    }

    .visual-txt strong {
        margin-left: 16%;
    }

    .profile .container {
        padding: 0 10%;
    }


    .portfolio-swiper {
        width: 65vw;
    }

    .portfolio-swiper .portfolio-box {
        height: 80vw;
    }
    .port-link {
        margin-top: 5%;
    }
    .mb .port-link {
        margin-top: 10% !important;
    }
    .mbti .container {
        padding: 0 10%;
    }

    .mbti-wrap {
        padding: 0;
    }

    .mbti-txt {
        padding-left: 0;
    }

    .esfp {
        text-align: center;
        color: #aaa;
    }

    .esfp b {
        display: block;
        margin-bottom: 10px;
        color: #303033;
    }

    .modal-close {
        margin-top: 15px;
    }

    .contac-nav {
        height: 70px;
        bottom: 3%;
    }

    .contac-nav:hover {
        height: 300px;
    }

    .contact-wrap {
        width: 70px;
        height: 70px;
    }

    .contact-on .contact-wrap {
        height: 310px;
    }

    .contact-bt {
        width: 70px;
        height: 70px;
        line-height: 7rem;
    }

    .contact-bt img {
        width: 45px;
        height: 45px;
    }

    .link-box {
        width: 70px;
    }

    .link-box img {
        width: 35px;
    }
    .comment-txt {
        font-size: 1.2rem;
    }
}